body {
    background: linear-gradient(135deg, #050505, #111111);
    color: #00D9FF;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 120px;
    margin: 0;
}

h1 {
    font-size: 70px;
    text-shadow: 0 0 20px #00D9FF;
    letter-spacing: 5px;
}

p {
    font-size: 22px;
    color: #bbbbbb;
    margin-bottom: 40px;
}

button {
    background: #8A2BE2;
    color: white;
    border: none;
    padding: 18px 40px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 0 15px #8A2BE2;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
}
